* {
  box-sizing: border-box;

}

:focus {
  outline: none;
}

body {
  background: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}

input {
  display: block;
  height: 3em;
  padding-left: 10px;
  color: grey;
  border-bottom: 2px solid orangered;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
}

.search-container {
  position: relative;
  top: 50vh;
  left: 25%;
}

.search-container input,
.search-container .suggestions {
  background-color: rgba(255, 255, 255, 0.5);
}
.search-container input {
  min-width: 50%;
  
}
.search-container .suggestions {
   display: block;
   position: relative;
   background-color: rgba(255, 255, 255, 0.5);;
   max-width: 50%;
   max-height: 400px;
   overflow: scroll;

}

ul {
  color: black;

}
ul.has-suggestions {
  
}
ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 1.5em;

}
ul li:hover {
  background-color: orangered;
  cursor: pointer;
  margin-right: 40px;
}

input {
   /* TODO */
}