* {
  box-sizing: border-box;

}

:focus {
 /* TODO */
}

body {
  background: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}

input {
  display: block;
  width: 33%;
  height: 2em;
  position: absolute;
  left: 50% vh vw;
  top: 50%;
}

.search-container {
  display: grid;
  justify-items: center;
}

.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  list-style-type: none;
  text-align: left;

}
ul li:hover {
  /* TODO */
}

input {
   /* TODO */
}